.homecontainer{
overflow: hidden;
}

.features{
    min-width: 100vw;
    min-height: 100vh;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    grid: 50px;
    /* background: pink; */
}
.plans{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    grid: 50px;
    /* background: pink; */
}

















/* FadeInLeft Animation */
.fadeInLeft {
        -webkit-animation-name: fadeInLeft; /* Chrome, Safari, Opera */
        animation-name: fadeInLeft;
        -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
        animation-duration: 2s;
        -webkit-animation-fill-mode: both; /* Chrome, Safari, Opera */
        animation-fill-mode: both;
      }
      
      @-webkit-keyframes fadeInLeft { /* Chrome, Safari, Opera */
        0% {
          opacity: 0;
          -webkit-transform: translate3d(-100%, 0, 0);
          /*Chrome,Safari,Opera*/transform: translate3d(-100%, 0, 0);
          -moz-transform: translate3d(-100%, 0, 0);
          -ms-transform: translate3d(-100%, 0, 0);
          -o-transform: translate3d(-100%, 0, 0);
}
        100% {
          opacity: 1;
          -webkit-transform: none; /* Chrome, Safari, Opera */
          transform: none;
        }
      }
      
      @keyframes fadeInLeft {
        0% {
          opacity: 0;
          -webkit-transform: translate3d(-100%, 0, 0); /* For Safari & Chrome compatibility */
          transform: translate3d(-100%, 0, 0);
        }
        100% {
          opacity: 1;
          -webkit-transform: none; /* For Safari & Chrome compatibility */
          transform: none;
        }
      }
      


































      section {
        padding: 60px 0;
        /* overflow: hidden; */
      }
      
      .section-title {
        padding-bottom: 40px;
      }
      
      .section-title h2 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaaaaa;
        font-family: "Poppins", sans-serif;
      }
      
      .section-title h2::after {
        content: "";
        width: 120px;
        height: 1px;
        display: inline-block;
        background: #ffde9e;
        margin: 4px 10px;
      }
      
      .section-title p {
        margin: 0;
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #151515;
      }
      .services .icon-box {
        text-align: center;
        border: 1px solid #ebebeb;
        padding: 80px 20px;
        transition: all ease-in-out 0.3s;
        background: #e3dfdf;
        width: 450px;
        height: 350px;
        
      }
      
      .services .icon-box .icon {
        margin: 0 auto;
        width: 64px;
        height: 64px;
        background: #ffc451;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        transition: 0.3s;
      }
      
      .services .icon-box .icon i {
        color: #151515;
        font-size: 28px;
        transition: ease-in-out 0.3s;
      }
      
      .services .icon-box h4 {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 24px;
      }
      
      .services .icon-box h4 a {
        color: #151515;
        transition: ease-in-out 0.3s;
      }
      
      .services .icon-box h4 a:hover {
        color: #ffc451;
      }
      
      .services .icon-box p {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
      }
      
      .services .icon-box:hover {
        border-color: #fff;
        box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.5);
        transform: translateY(-10px);
      }
      













      .counts {
        padding: 0 60px;
        /* margin: 60px 60px; */
      }

      
      .counts .content {
        padding: 30px 0;
      }
      
      .counts .content h3 {
        font-weight: 700;
        font-size: 34px;
        color: #151515;
      }
      
      .counts .content p {
        margin-bottom: 0;
      }
      
      .counts .content .count-box {
        padding: 20px 0;
        width: 100%;
      }
      
      .counts .content .count-box i {
        display: block;
        font-size: 36px;
        color: #ffc451;
        float: left;
      }
      
      .counts .content .count-box span {
        font-size: 36px;
        line-height: 30px;
        display: block;
        font-weight: 700;
        color: #151515;
        margin-left: 50px;
      }
      
      .counts .content .count-box p {
        padding: 15px 0 0 0;
        margin: 0 0 0 50px;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        color: #3b3b3b;
      }
      
      .counts .content .count-box a {
        font-weight: 600;
        display: block;
        margin-top: 20px;
        color: #3b3b3b;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        transition: ease-in-out 0.3s;
      }
      
      .counts .content .count-box a:hover {
        color: #626262;
      }
      
      .counts .image {
        background: url("https://images.pexels.com/photos/327533/pexels-photo-327533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center center no-repeat;
        background-size: cover;
        min-height: 400px;
      }
      
      @media (max-width: 991px) {
        .counts .image {
          text-align: center;
        }
      
        .counts .image img {
          max-width: 80%;
        }
      }
      
      @media (max-width: 667px) {
        .counts .image img {
          max-width: 100%;
        }
      }
      




































      .team {
        background: #fff;
        padding: 60px 120px;
      }
      
      .team .member {
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      }
      
      .team .member .member-img {
        position: relative;
        overflow: hidden;
      }
      
      .team .member .social {
        position: absolute;
        left: 0;
        bottom: 30px;
        right: 0;
        opacity: 0;
        transition: ease-in-out 0.3s;
        text-align: center;
      }
      
      .team .member .social a {
        transition: color 0.3s;
        color: #151515;
        margin: 0 3px;
        border-radius: 4px;
        width: 36px;
        height: 36px;
        background: rgba(255, 255, 255, 0.8);
        transition: ease-in-out 0.3s;
        color: #484848;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      
      .team .member .social a:hover {
        color: #151515;
        background: #ffc451;
      }
      
      .team .member .social i {
        font-size: 18px;
        line-height: 0;
      }
      
      .team .member .member-info {
        padding: 25px 15px;
      }
      
      .team .member .member-info h4 {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 18px;
        color: #151515;
      }
      
      .team .member .member-info span {
        display: block;
        font-size: 13px;
        font-weight: 400;
        color: #aaaaaa;
      }
      
      .team .member .member-info p {
        font-style: italic;
        font-size: 14px;
        line-height: 26px;
        color: #777777;
      }
      
      .team .member:hover .social {
        opacity: 1;
        bottom: 15px;
      }

      .team span{
        text-align: left;
      }
      
      














      /* CSS for "Get Free Consultation" button */
      .about img{
        height: 100%;
      }
      .about .btn {
          display: inline-block;
          font-weight: 400;
          color: #fff;
          text-align: center;
          vertical-align: middle;
          user-select: none;
          background: #000;
          border: 1px solid transparent;
          padding: 0.5rem 1rem;
          /* Increased padding */
          font-size: 1rem;
          line-height: 1.5;
          border-radius: 1.5rem;
          /* Increased border-radius */
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          text-decoration: none;
          margin-top: 1rem;
          /* Added margin top */
      }

      .about .btn:hover {
          color: #fff;
          background-color: #555;
          border-color: #555;
          text-decoration: none;
      }

      /* CSS for bullet points */
      .about  .tick-mark-list {
          list-style-type: none;
          padding-left: 0;
      }

      .about .tick-mark-list li::before {
          content: "\2713";
          /* Checkmark character */
          color: #000;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
      }
      .about .content h3 {
        font-weight: 700;
        font-size: 28px;
        font-family: "Poppins", sans-serif;
      }
      
      .about .content ul {
        list-style: none;
        padding: 0;
      }
      
      .about .content ul li {
        padding: 0 0 8px 26px;
        position: relative;
      }
      
      .about .content ul i {
        position: absolute;
        font-size: 20px;
        left: 0;
        top: -3px;
        color: #ffc451;
      }
      
      .about .content p:last-child {
        margin-bottom: 0;
      }


      @media (max-width: 1000px) {
        .about  .planimageblock{
        /* background: red; */
        height: auto;
        }
      }

      