.customPrice{
    display: flex;
    flex-direction: column;
}

.customPlanner{
    -webkit-box-shadow: 8px 8px 5px -2px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 8px 8px 5px -2px rgba(0, 0, 0, 0.29);
    box-shadow: 8px 8px 5px -2px rgba(0, 0, 0, 0.29),-8px -8px 5px -2px rgba(0, 0, 0, 0.29);
}