.widget {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex: 1;
    -webkit-box-shadow: 8px 8px 5px -2px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 8px 8px 5px -2px rgba(0, 0, 0, 0.29);
    box-shadow: 8px 8px 5px -2px rgba(0, 0, 0, 0.29);
    height: 100px;
    border-radius: 10px;
    min-width: 200px;
}
    .left,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
      .title {
        font-weight: bold;
        font-size: 14px;
        color: #0e3b43;
      }
  
      .counter {
        font-size: 28px;
        font-weight: 300;
      }
  
      .link {
        width: max-content;
        font-size: 12px;
        border-bottom: 1px solid #0e3b43;
      }
  
      .percentage {
        display: flex;
        align-items: center;
        font-size: 14px;
      }
      .percentage.positive {
          color: green;
        }
        .percentage.negative {
          color: red;
        }
   
  
      .icon {
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-end;
      }
